<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros/org/wiki/xacro">



    <ros2_control name="control" type="system">
        <hardware>
            <plugin>sfbot_hardware/SFBotHardware</plugin>
        </hardware>
        <joint name="ak70-10-v1_1_continuous">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="ak70-10-v1_2_continuous-9">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>